* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    --max-width: 560px;
    margin: 0;
    height: 100%;
    display: grid;
    place-content: center;
    font-family: "Roboto", sans-serif;
    user-select: none;
    background: linear-gradient(135deg, #ffffff, #eeeeee);
}

main {
    margin: auto;
    width: var(--max-width);
}

h1 {
    color: #1d3557;
    margin-top: 0;
}

p {
    color: #7d7c83;
    width: var(--max-width);
}

.hint {
    text-indent: 8px;
    color: #e63946;
    font-weight: 300;
    position: relative;
}

.hint::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background: #e63946;
    border-radius: 4px;
}

canvas {
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}