.footer {
    background-color: var(--footerColor);
    padding: 24px 16px;
    margin-top: auto;
    text-align: center;
}

.small {
    margin: 0;
    font-size: 13px;
    color: #363636;
    font-weight: 300;
}