.header {
    display: flex;
    align-items: center;
    margin: calc(var(--gap) * 2) 0;
    height: 40px;
    gap: 0 var(--gap);
    padding: 0 16px;
    margin: 24px auto 0;
    max-width: 900px;
    width: 100%;
}

.logo {
    width: 32px;
    display: grid;
}

.separator {
    width: 1px;
    height: 70%;
    background: var(--textColor);
}

.title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    @media (min-width: 1012px) {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.03em;
    }
    @media (min-width: 768px) {
        font-size: 40px;
        line-height: 44px;
    }
}