input[type="checkbox"] {
    width: var(--space-sm);
    height: var(--space-sm);
    margin: 0;
    outline-offset: 5px;
    accent-color: #1976d2;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

input[type="checkbox"]:hover::before {
    --thumb-scale: 1;
}

@media (hover: none) {
    input[type="checkbox"] {
        width: var(--space-md);
        height: var(--space-md);
    }
}

input[type="checkbox"]::before {
    --thumb-scale: 0.01;
    --thumb-highlight-size: var(--space-xl);
    content: "";
    width: var(--thumb-highlight-size);
    height: var(--thumb-highlight-size);
    clip-path: circle(50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(25, 118, 210, 0.12);
    transform-origin: center center;
    transition: 0.15s;
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(var(--thumb-scale));
    will-change: transform;
}